<div class="section border-top" id="core">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="font-weight-light text-center">Aliados</h2>
        </div><!-- end row -->
        <div class="margin-top-70">
            <div class="row team-wrapper team-box-hover-2 mb-4">
                <!-- Team box 1 -->
                <div class="col-12 col-md-4 col-lg-4 team-box">
                    <div class="team-img">
                        <img src="assets/images/user.png" alt=""><!-- image source -->
                        <!-- social links -->
                        <div>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="heading-uppercase">Ashoka</h6>
                    <span>reúne y cultiva una comunidad de emprendedores que reconocen la importancia que todos seamos agentes de cambio. Trabaja para transformar personas, instituciones y culturas alrededor del mundo para acompañar a que todas las personas puedan contribuir al bien común y a la construcción de un mundo mejor.</span>
                </div>
                <!-- Team box 2 -->
                <div class="col-12 col-md-4 col-lg-4 team-box">
                    <div class="team-img">
                        <img src="assets/images/user.png" alt=""><!-- image source -->
                        <!-- social links -->
                        <div>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="heading-uppercase">The Wellbeing Project</h6>
                    <span>tiene como propósito catalizar una cultura del propio bienestar entre los agentes de cambio. Eso a través de modelos de programas individuales y organizaciones para atender el well-being, investigaciones creíbles y comunidades de aprendizaje globales y regionales.</span>
                </div>
                <!-- Team box 3 -->
                <div class="col-12 col-md-4 col-lg-4 team-box">
                    <div class="team-img">
                        <img src="assets/images/user.png" alt=""><!-- image source -->
                        <!-- social links -->
                        <div>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="heading-uppercase">Decktra</h6>
                    <span>tiene como propósito crear soluciones rápidas de implementar y fáciles de utilizar, que permiten gerenciar y distribuir bigdata e información que permite gerenciar la organización de manera inteligente e innovar con información apropiada.</span>
                </div>
            </div><!-- end row -->
            <div class="row team-wrapper team-box-hover-2 mb-4">
                <!-- Team box 1 -->
                <div class="col-12 col-md-4 col-lg-4 team-box">
                    <div class="team-img">
                        <img src="assets/images/user.png" alt=""><!-- image source -->
                        <!-- social links -->
                        <div>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="heading-uppercase">Athena Lab for Social Change</h6>
                    <span>promueve el bienestar y el desarrollo sostenible en conexión con alianzas estratégicas y proyectos que promueven innovadores aproximaciones, métodos y herramientas.</span>
                </div>
                <!-- Team box 1 -->
                <div class="col-12 col-md-4 col-lg-4 team-box">
                    <div class="team-img">
                        <img src="assets/images/user.png" alt=""><!-- image source -->
                        <!-- social links -->
                        <div>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h6 class="heading-uppercase">Agora</h6>
                    <span>promueve una cultura de agentes de cambio en Venezuela que puedan ser protagonistas del cambio positivo en el país. Su meta, una sociedad de agentes de cambio, que protagonicen sus propios destinos y siendo lideres colaboradores en cada uno de sus espacios de acción.</span>
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- end container -->
</div>