
<!-- Home section -->
<div class="owl-carousel owl-nav-overlay owl-dots-overlay" data-owl-nav="true" data-owl-dots="true" data-owl-items="1">
    <!-- Slider box 1 -->
    <div class="bg-image" style="background-image: url(assets/images/banner2.jpg)">
        <div class="section-lg bg-black-04">
            <div class="container">
                <h1>Cambia Tu Vida</h1>
                <a class="button button-xl button-outline-white-2 margin-top-30" href="sobre_nosotros.html">Descubre Más</a>
            </div>
        </div>
    </div>
    <!-- Slider box 2 -->
    <div class="bg-image" style="background-image: url(assets/images/banner1.png)">
        <div class="section-lg bg-black-04">
            <div class="container">
                <h1>Para Cambiar El Mundo</h1>
                <a class="button button-xl button-outline-white-2 margin-top-30" href="sobre_nosotros.html">Descubre Más</a>
            </div>
        </div>
    </div>
</div><!-- end owl-carousel -->
<!-- end Home section -->