<footer>
    <div class="footer bg-dark-lighter">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <h3><img src="assets/images/logo-white.png" alt=""></h3>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="heading-uppercase">Enlaces Útiles</h6>
                    <ul class="list-icon">
                        <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
                        <li><a href="nuestro_trabajo.html">Nuestro Trabajo</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <h6 class="heading-uppercase">Contacto</h6>
                    <ul class="list-unstyled">
                        <li>Caracas, Venezuela.</li>
                        <li>centrolyra@gmail.com</li>
                        <li>+58 212 715.6325</li>
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer -->
    <div class="footer-bottom bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-left">
                    <p>&copy; 2020 Centro Lyra. Imágenes: Gabriel Osorio.</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-right">
                    <ul class="list-horizontal-unstyled">
                        <li><a href="https://www.facebook.com/CentroLyra/"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/centrolyra"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end footer-bottom -->
</footer