<header class="py-2">
    <nav class="navbar"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <h5><img src="/assets/images/logo.png" alt="" style="height:70px;"></h5>
            </a>
            <ul class="nav"><!-- add 'dropdown-dark/dropdown-grey/dropdown-transparent/dropdown-transparent-dark' -->
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre_nosotros.html">Sobre Nosotros</a>
                </li>
                <!-- Mega Dropdown Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="/nuestro_trabajo.html">Nuestro Trabajo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios.html">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/equipo.html">Equipo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto.html">Contacto</a>
                </li>
            </ul><!-- end nav -->
            <!-- Nav Toggle button -->
            <button class="nav-toggle-btn">
                <span class="lines"></span>
            </button>
        </div><!-- end container -->
    </nav><!-- end navbar -->
</header>

<!-- Scroll to top button -->
<div class="scrolltotop">
    <a class="button-circle button-circle-sm button-circle-dark" href="index.html#"><i class="ti-arrow-up"></i></a>
</div>
<!-- end Scroll to top button -->