<!-- About section -->
<div class="section">
    <div class="container">
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-7">
                <h3 class="font-weight-light">Quiénes somos</h3>
                <p>
                    Somos una institución sin fines de lucro que contribuye al desarrollo humano sostenido, promoviendo que todos seamos agentes de cambio y apoyando la generación, gestión y difusión de aprendizajes sobre lo humano y sus diversas expresiones. Estimulamos el bienestar, la sensibilidad y el conocimiento en función del progreso y desarrollo de esos agentes de cambio necesarios para crear el bien común en Iberoamérica.
                </p>
            </div>
            <div class="col-12 col-lg-5">
                <div class="row gallery-wrapper spacing-20">
                    <!-- Gallery image box 1 -->
                    <div class="col-12 gallery-box">
                        <div class="gallery-img">
                            <a href="assets/images/we.jpg" data-gallery-title="Mision">
                                <img src="assets/images/we.jpeg" alt="">
                            </a>
                        </div>
                    </div>
                </div><!-- end row/gallery-wrapper -->
            </div>
        </div><!-- end row -->
        <br>
        <hr>
        <br>
        <div class="row align-items-center col-spacing-50">
            
            <div class="col-12 col-lg-5">
                <div class="row gallery-wrapper spacing-20">
                    <!-- Gallery image box 1 -->
                    <div class="col-12 gallery-box">
                        <div class="gallery-img">
                            <a href="assets/images/mission.jpg" data-gallery-title="Mission">
                                <img src="assets/images/mission.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div><!-- end row/gallery-wrapper -->
            </div>
            <div class="col-12 col-lg-7">
                <h3 class="font-weight-light">Misión</h3>
                <p>
                    Estimular a los agentes de cambio a reconocer la importancia y a comprometerse con su bienestar personal, con el fortalecimiento de sus capacidades y con el desarrollo sostenible para impulsar así las innovaciones requeridas para lograr cambios sistémicos profundos en su propia vida y de Iberoamérica.    
                </p>
            </div>
        </div><!-- end row -->
        <br>
        <hr>
        <br>
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-lg-7">
                <h3 class="font-weight-light">Visión</h3>
                <p>
                    Generamos ideas, conocimientos, innovación y recursos para apoyar procesos de bienestar personal y cambios sistémicos en los ecosistemas y en el rol de los agentes de cambio, contribuyendo así a la transformación sostenible en Iberoamérica.    
                </p>
            </div>
            <div class="col-12 col-lg-5">
                <div class="row gallery-wrapper spacing-20">
                    <!-- Gallery image box 1 -->
                    <div class="col-12 gallery-box">
                        <div class="gallery-img">
                            <a href="assets/images/vision.jpg" data-gallery-title="Vision">
                                <img src="assets/images/vision.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div><!-- end row/gallery-wrapper -->
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
