<div class="section-lg bg-image parallax" style="background-image: url(assets/images/knowledge2.jpg)" id="research">
    <div class="bg-black-07">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h3>Bienestar (Well-being)</h3>
                    <p>
                        Todos somos agentes de cambio. Trabajar el propio bienestar amplia nuestros horizontes como agentes de cambio. Con propósito, cuidado y compasión, logramos la ampliación de los niveles de atención plena, de consciencia y de conexión emocional con una comunidad amplia de agentes de cambio.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-lg">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <h3>Creación  de Conocimiento </h3>
                <p>
                    Crear y compartir conocimientos e investigar y generar información, amplía el campo de las nuevas ideas. El conocimiento posibilita la comprensión, la explicación y la consciencia sobre los hechos, así como la experiencia para dar certidumbre mesurable y generar vías para el cambio sistémico.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section-lg bg-image parallax" style="background-image: url(assets/images/knowledge2.jpg)" id="research">
    <div class="bg-black-07">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <h3>Desarrollo Sostenible</h3>
                    <p>
                        Sociedad, economía y ambiente se juntan en los Objetivos de Desarrollo Sostenible. Poner fin a la pobreza, proteger el planeta, favorecer el emprendimiento y garantizar que todas las personas gocen de paz y prosperidad es la meta.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>