<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <!-- Favicon -->
    <link href="assets/images/favicon.ico" rel="shortcut icon">
		<!-- CSS -->
		<link href="{{ "assets/plugins/bootstrap/bootstrap.min.css" | relative_url }}" rel="stylesheet">
		<link href="{{ "assets/plugins/owl-carousel/owl.carousel.min.css" | relative_url }}" rel="stylesheet">
		<link href="{{ "assets/plugins/owl-carousel/owl.theme.default.min.css" | relative_url }}" rel="stylesheet">
		<link href="{{ "assets/plugins/magnific-popup/magnific-popup.min.css" | relative_url }}" rel="stylesheet">
		<link href="{{ "assets/css/app.min.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "assets/css/cws.css" | relative_url }}" rel="stylesheet">
		<!-- Fonts/Icons -->
		<link href="{{ "assets/plugins/font-awesome/css/all.css" | relative_url }}" rel="stylesheet">
		<link href="{{ "assets/plugins/themify-icons/themify-icons.css" | relative_url }}" rel="stylesheet">
  </head>
  <body data-preloader="2">
    {% include es/header.html %}

    {{ content}}

    {% include es/footer.html %}
    <!-- ***** JAVASCRIPTS ***** -->
		<!-- Libraries -->
		<script src="{{ "assets/plugins/jquery.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/bootstrap/popper.min.js" | relative_url }}"></script>
		<!-- Plugins -->
		<script src="{{ "assets/plugins/bootstrap/bootstrap.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/appear.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/easing.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/retina.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/countdown.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/imagesloaded.pkgd.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/isotope.pkgd.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/infinite-scroll.pkgd.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/jarallax/jarallax.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/jarallax/jarallax-video.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/magnific-popup/magnific-popup.min.js" | relative_url }}"></script>
		<script src="{{ "assets/plugins/owl-carousel/owl.carousel.min.js" | relative_url }}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
		<script src="{{ "assets/plugins/gmaps.min.js" | relative_url }}"></script>
		<!-- Scripts -->
		<script src="{{ "assets/js/functions.min.js" | relative_url }}"></script>
  </body>
</html>
